# Nuxt dev/build outputs
.output
.nitro
.data
.nuxt
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Dockerfile
Dockerfile.dev
.dockerignore
.gitignore
README.md